@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,900;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.app-header {
  height: 16vh;
  background: gray;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
  top: 0px;
  left: 0px;
}

.logo-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-weight: 300;
}

.logo {
  height: 50px;
}
.heading {
    position: relative;
    left: 2%;
    top: 50px;
}

.heading-primary {
  display: flex;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 45px;
  color: white;
}
.heading-secondary {
  display: flex;
  font-weight: 200;
  font-size: 16px;
  color: white;
  font-style: italic;
  transform: translate(0, -50%);
}

.app-main {
  background-color: black;
}

.disco-table-container {
  height: 84vh;
  width: 100vw;
}
.disco-table {
    width: 100vw;
}

.disco-artist-row {
  height: 20vh;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 9%, 100% 0, 100% 91%, 0 100%);
}
.disco-artist-header {
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translate(-15%, -50%);
}

.disco-artist-name {
  color: white;
}
